/* Signup Banner */
#banner-signup {
  position: relative;
  height: 580px;
  padding: 30px 30px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  color: white;
}

#banner-signup .big-logo {
  margin-top: 130px;
}

#banner-signup p {
  font-size: 20px;
  margin-top: 50px;
}

#banner-signup .cta-container {
  width: 350px;
  margin: 0 auto;
}

#banner-signup .cta-container .btn-default {
  height: 40px;
  width: 160px;
  line-height: 40px;
  font-size: 20px;
}

/* Search Banner */
#banner-search {
  position: relative;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#banner-search p {
  margin: 0;
  color: rgba(255, 255, 255, .7);
  font-size: 20px;
}

#banner-search input {
  margin-top: 30px;
  height: 58px;
  width: 800px;
  font-size: 26px;
  opacity: 0.6;
  text-indent: 50px;
}

#banner-search img {
  position: absolute;
  height: 40px;
  transform: translate(364px, 28px);
}

#banner-search img:hover {
  cursor: pointer;
}
