* { box-sizing: border-box; }

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.1s;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #f6f6f6;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

section {
  width: 100%;
}

.btn-default {
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 140px;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 6px;
  transition: font-weight 0.1s ease-in-out;
}

.btn-default:hover {
  font-weight: 700;
}

.btn-highlight {
  border-color: #3295b8;
  background-color: #3295b8;
}

.btn-exit {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0.7;
  transition: opacity 0.1s;
}

.btn-exit:hover {
  opacity: 1;
}

.btn-exit > img {
  width: 40px;
  height: 40px;
}

.small-logo {
  width: 40px;
  height: 40px;
}

.big-logo {
  width: 240px;
}

.overlay {
  z-index: 20;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
}

.overlay .btn-exit-overlay {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.overlay .btn-exit-overlay:hover {
  opacity: 1;
}

.overlay .btn-exit-overlay > img {
  width: 50px;
  height: 50px;
}

input {
  height: 30px;
  width: 280px;
  background-color: white;
  border: 1px solid #d3d3d3;
  text-indent: 14px;
  position: relative;
}

.input-bundle {
  margin-top: 10px;
  width: 280px;
}

.input-bundle input:focus {
  z-index: 30;
}

.input-bundle input:nth-child(n+2) {
  border-top: none;
}

span.checkbox {
  height: 18px;
  width: 18px;
  border: 1px solid #424242;
  display: inline-block;
  position: relative;
  border-radius: 4px;
}

span.checkbox:hover {
  cursor: pointer;
}

span.checkbox:after {
  content: '';
  height: 12px;
  width: 12px;
  background-color: rgba(35, 34, 73, 0.1);
  border-radius: 2px;
  position: absolute;
  top: 2px;
  left: 2px;
}

span.checkbox.active:after {
  background-color: #424242;
}
