header {
  background: #303030;
  padding: 0 60px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  transition: all 0.3s ease;
  z-index: 10;
}

header.off-top {
  box-shadow: 0 3px 30px #000;
}

#left-header {
  width: 500px;
  padding: 5px 0;
}

#left-header > a {
  height: 40px;
}

#left-header nav {
  width: 350px;
}

.right-header {
  display: none;
}

.right-header.active {
  display: flex;
}

#login-bar {
  width: 310px;
  padding: 5px 0;
}

#user-bar {
  padding: 5px 0;
}

#user-bar .username {
  font-size: 16px;
  font-style: italic;
  margin-right: 30px;
}

#user-bar .btn-logout {
  font-size: 12px;
  border-width: 1px;
  width: 70px;
  height: 22px;
  line-height: 22px;
}

#user-bar .profile-picture {
  width: 34px;
  height: 34px;
  margin-right: 15px;
}

#user-bar img {
  width: 34px;
  height: 34px;
}

#user-bar .profile-picture:hover + .username {
  color: rgba(255, 255, 255, 1);
}
