#modal-head-bar {
  width: 280px;
  margin: 18vh auto 0;
  font-size: 18px;
}

#modal-head-bar a {
  position: relative;
}

#modal-head-bar a:after {
  content: '';
  height: 0;
  width: 0;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  position: absolute;
  left: calc(50% - 8px);
  bottom: -16px;
  display: none;
}

#modal-head-bar a.active:after {
  display: block;
}

.modal {
  width: 400px;
  background-color: #f6f6f6;
  margin: 15px auto 0;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal .btn-default {
  height: 40px;
  width: 160px;
  font-size: 1.2em;
  line-height: 40px;
  margin-top: 30px;
}

#modal-login {
  height: 180px;
}

#modal-signup {
  height: 320px;
}

#modal-signup .flex-container {
  width: 160px;
  margin-top: 12px;
}

#modal-signup .confirm {
  width: 20px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 110;
}
