#profile-main{
  display: flex;
  flex-direction: row;
  color: #404040;
}

.user{
  margin-top: 30px;
  margin-left: 45px;
  margin-right: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 310px;
}

.user img{
  border-radius: 50%;
  width: 250px;
}

.user-name{
  align-self: center;
  font-size: 18px;
  font-style: italic;
}

.user-description{
  font-size: 14px;
}

.user-type{
  padding: 1px;
  text-align: center;
  width: 40px;
  border: 1px solid #404040;
}

.user-data{
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-data .number{
  font-size: 16px;
}

.number-description{
  font-size: 16px;
  color: #999;
}

.interactions{
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #999;
}

.interactions a{
  width: 25px;
  height: 25px;
}

.interactions img{
  width: 25px;
}

.interactions p{
  margin-left: 10px;
}

.gallery{
    margin-right: 45px;
}

.filters{
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;*
  border: 0px solid white;
  border-radius: 5px;
}

.filters .link{
  transition: color 0.1s;
  color: #404040;
}

.filters .link:hover{
  font-weight: bold;
}

.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.picture{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 20px 10px;
  padding: 15px 15px 0px 15px;
  background-color: white;
  border: 0px solid white;
  border-radius: 5px;
  color: #404040;
}

.image{
  width: 300px;
  cursor: pointer;
}

.image-bar{
  display: flex;
  padding: 0 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image-bar p{
  font-size: 14px;
  font-style: italic;
}

.stat .number{
  font-size: 13px;
  color: #999;
}

.statistics-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stat{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statistics-bar img{
  width: 15px;
  margin-right: 5px;
  margin-left: 8px;
}

#photo-expanded{
  flex-direction: row;
  align-items: flex-start;
}

.content{
  display: flex;
  flex-direction: column;
}

.btn-back{
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}

#profile-main img.graphic{
  width: 800px;
  height: inherit;
}

 #profile-main .info{
 }
