#suggestions {
  height: 320px;
  background-color: white;
  text-align: center;
  padding: 15px;
  display: none;
}

#suggestions p,
#suggestions h2 {
  margin: 0;
}

#suggestions h2 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 15px;
}

.side-scroll-container {
  justify-content: center;
  margin-top: 30px;
}

.side-scroll-container .side-scroll-btn > img {
  width: 60px;
}

.side-scroll-container .side-scroll-btn.scroll-btn-next {
  transform: rotate(180deg);
}

.side-scroll-container .side-scroll-elements {
  margin: 0 30px;
  width: 1470px;
  overflow: hidden;
  justify-content: space-around;
}

.side-scroll-container .side-scroll-elements .side-scroll-elem {
  position: relative;
  margin: 0 30px;
  right: 0;
  left: 0;
  transition: all 0.6s;
}

.side-scroll-container .side-scroll-elements.next .side-scroll-elem {
  left: -210px;
}

.side-scroll-container .side-scroll-elements.prev .side-scroll-elem {
  left: 210px;
}

.side-scroll-container .side-scroll-elements .side-scroll-elem > img {
  width: 150px;
}
