header {
  background: #303030;
  padding: 0 60px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  transition: all 0.3s ease;
  z-index: 10;
}

header.off-top {
  box-shadow: 0 3px 30px #000;
}

#left-header {
  width: 500px;
  padding: 5px 0;
}

#left-header > a {
  height: 40px;
}

#left-header nav {
  width: 350px;
}

#left-header nav a {
  opacity: 0.8;
  transition: opacity 0.1s;
}

#left-header nav a:hover {
  opacity: 1;
}

#right-header {
  width: 310px;
  padding: 5px 0;
}
